/* CSS Document */
/* Blocks */


/* Buttons */
.btn-green{
	background-color:#1C470A;
	text-decoration: none;
	margin: 3px;
	padding: 5px;
	color: #FFFFFF;
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s; /* Firefox 4 */
	-webkit-transition-duration: 0.5s; /* Safari 和 Chrome */
	-o-transition-duration: 0.5s; /* Opera */
}

.btn-green:hover{
	background-color: #035200;
	padding-right: 30px;
}